*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
.fs-40{
    font-size: 40px !important;
    line-height: 52px !important;
}
.fs-16{
    font-size: 16px !important;
    line-height: 30px;
}
.mw-1024{
    max-width: 1024px;
}

/* bootstrap barebones template style */
body{
    padding-top:50px
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
    background-image: none;
    box-shadow: none;
}
.navbar-brand{
    background: url('../img/school_apply_logo_cropped.png') no-repeat center center;
    background-size: 80px;
    text-indent: -999px;
}
.navbar-default .navbar-nav>li>a{
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    color: #000;
    padding: 15px 25px;
}
.text-sa-gold{
    color: #AE946C !important;
}
.jumbotron{
    background:none;
    position: relative;
}
.jumbotron h1, .jumbotron p{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

/* page styles */

#landing-page-banner{
    background: url('../img/Bitmap.png') no-repeat;
    background-size: cover;
    min-height: 500px;
    position: absolute;
    width: 100%;
    z-index: -1;
}
#two-logos{
    height: 50px;
    width: 340px;
    background: url(../img/two_logos.png) no-repeat;
    background-size: contain;
    position: relative;
    left: 50%;
    margin-left: -170px;
}
.pricing-card{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 30px -5px;
    padding: 30px 40px;
    min-height: 550px;
}
.package-name{
    text-transform: uppercase;
    padding: 20px 15px;
    margin: -30px -40px;
    margin-bottom: 15px;
    color: rgba(17, 17, 17, 0.7);
    background: #F6F6F6;
    border-radius: 4px 4px 0px 0px;
    text-align: center;
    font-size: 12px;
    font-weight: bold !important;
}
.price{
    width: 50%;
    float: left;
    text-align: center;
}
.price-number{
    display: block;
    font-size: 40px;
}
.regular .price-number{
    color:#111111;
    font-weight: 100;
}
.gems .price-number{
    font-weight: bold;
}
.btn-get-started{
    display: block;
    margin: 25px auto;
    background: #28A174;
    background-image: none;
    box-shadow: none;
    border:none;
    width: 200px;
    line-height: 30px;
}
.whats-included{
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 20px;
}
.whats-included-list{
    list-style: none;
}
.whats-included-list li{
    margin-bottom: 15px;
}
.whats-included-list li .glyphicon{
    margin-right: 10px;
    color:green;
}
.whats-included-list li .glyphicon.glyphicon-remove{
    color:red;
}

/* how does this work */

.how-does-this-work{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-top: 100px;
}
.htw-cell{
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.07);
    border-radius: 4px;
    padding: 35px;
    padding-top: 35px
}
.htw-cell img{
    display:block;
    margin: auto;
}
.htw-cell img.icon-image{
    max-width: 40px;
}
.htw-cell img.placeholder-video-image{
    max-width: 250px;
    margin: 20px auto;
}
.htw-heading{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
}
.htw-paragraph{
    text-align: center;
    margin: 25px auto;
    font-size: 12px;
}
.htw-footer{
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    color:#AE946C;
}

/* mid-banner */

#mid-banner{
    background:#2170B3;
    padding: 60px 0px;
    margin-top:50px;
    color:#fff;
}
.mb-header{
    font-size: 45px;
    font-weight: bold;
}
.mb-paragraph{
    font-style: italic;
    font-family:serif;
}

/* join more */

#join-more{
    background:#EDFAFF;
    padding-top: 75px;
}
.jm-header{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.jm-paragraph{
    text-align: center;
    font-size: 15px;
    margin-bottom: 50px;
}

.jm-card{
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.07);
    border-radius: 4px;
    padding: 25px;
    margin-bottom:25px;    
}
.jm-card img{
    display: block;
    margin:auto;
    max-width: 100px;
}
.jm-name{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
}
.jm-school-name{
    font-size: 13px;
    text-align: center;
    font-weight: bold;
}
.jm-description{
    text-align: center;
}